<h2>Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
    [class.selected]="user === selectedUser"
    (click)="onSelect(user)">
    <span class="badge">{{user.gid}}</span> {{user.name}}
  </li>
</ul>

<div *ngIf="selectedUser">

  <h2>{{selectedUser.name | uppercase}} Details</h2>
  <div><span>gid: </span>{{selectedUser.gid}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedUser.name" placeholder="name"/>
    </label>
  </div>

</div>